@model IEnumerable<DiplomaWebSite.Models.YearTerm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.term)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDefault)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDefault)
            </td>
            <td>
               <a asp-action="Edit" asp-route-id="@item.YearTermId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.YearTermId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.YearTermId">Delete</a>
            </td>
        </tr>
    }

</table>
