﻿@model IEnumerable<DiplomaWebSite.Models.Choice>
 @section scripts{
     
<script src="@Url.Content("~/wwwroot/js/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

<script> 
       function g(){
          return ["@ViewBag.activeOptions[0]", "@ViewBag.activeOptions[1]", "@ViewBag.activeOptions[2]",
            "@ViewBag.activeOptions[3]", "@ViewBag.activeOptions[4]"];
       }
</script>
 <script>      
       function firstChoices(){
          return ["@ViewBag.firstChoiceByCourse[0]", "@ViewBag.firstChoiceByCourse[1]", 
            "@ViewBag.firstChoiceByCourse[2]","@ViewBag.firstChoiceByCourse[3]", 
            "@ViewBag.firstChoiceByCourse[4]"];
       }
</script>
 <script>      
       function firstChoices(){
          return ["@ViewBag.secondChoiceByCourse[0]", "@ViewBag.secondChoiceByCourse[1]", 
            "@ViewBag.secondChoiceByCourse[2]","@ViewBag.secondChoiceByCourse[3]", 
            "@ViewBag.secondChoiceByCourse[4]"];
       }
</script>
 <script>      
       function firstChoices(){
          return ["@ViewBag.thirdChoiceByCourse[0]", "@ViewBag.thirdChoiceByCourse[1]", 
            "@ViewBag.thirdChoiceByCourse[2]","@ViewBag.thirdChoiceByCourse[3]", 
            "@ViewBag.thirdChoiceByCourse[4]"];
       }
</script>
 <script>      
       function firstChoices(){
          return ["@ViewBag.fourthChoiceByCourse[0]", "@ViewBag.fourthChoiceByCourse[1]", 
            "@ViewBag.fourthChoiceByCourse[2]","@ViewBag.fourthChoiceByCourse[3]", 
            "@ViewBag.fourthChoiceByCourse[4]"];
       }
</script>
<script>
       function f(){
          return ["@ViewBag.items[0]", "@ViewBag.items[1]", "@ViewBag.items[2]"];
       }
 </script>

       
}

<div id="dvChart">
    
    
</div>

<script>

    $('#dvChart').highcharts({
        chart: {
            renderTo: 'container',
            type: 'column'
        },
        title: {
            text: 'Student Option Selections',
            x: -20 //center
        },
        subtitle: {
            text: 'Developed in Linux!',
            x: -20
        },
        xAxis: {
            title: {
                text: 'Options'
            },
            categories: ["@ViewBag.activeOptions[0]", "@ViewBag.activeOptions[1]", "@ViewBag.activeOptions[2]", 
                "@ViewBag.activeOptions[3]", "@ViewBag.activeOptions[4]"]
        },
        yAxis: {
            title: {
                text: 'Number of Students'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'Students'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'First Choice',
            data: [@ViewBag.firstChoiceByCourse[0], @ViewBag.firstChoiceByCourse[1], @ViewBag.firstChoiceByCourse[2], 
                @ViewBag.firstChoiceByCourse[3], @ViewBag.firstChoiceByCourse[4]]
        }, {
            name: 'Second Choice',
            data: [@ViewBag.secondChoiceByCourse[0], @ViewBag.secondChoiceByCourse[1], @ViewBag.secondChoiceByCourse[2], 
                @ViewBag.secondChoiceByCourse[3], @ViewBag.secondChoiceByCourse[4]]
        }, {
            name: 'Third Choice',
            data: [@ViewBag.thirdChoiceByCourse[0], @ViewBag.thirdChoiceByCourse[1], @ViewBag.thirdChoiceByCourse[2], 
                @ViewBag.thirdChoiceByCourse[3], @ViewBag.thirdChoiceByCourse[4]]
        }, {
            name: 'Fourth Choice',
            data: [@ViewBag.fourthChoiceByCourse[0], @ViewBag.fourthChoiceByCourse[1], @ViewBag.fourthChoiceByCourse[2], 
                @ViewBag.fourthChoiceByCourse[3], @ViewBag.fourthChoiceByCourse[4]]
        }]
    });
    </script>